{% comment %} {% for product in collections.frontpage.products limit:4 %}
  <div>
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
    {{ product.price | money }}
    {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
    <a href="{{ product.url | within: collection }}">
      <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
    </a>
  </div>
{% endfor %}
 {% endcomment %}

{% assign variable = 8 | plus: 10 %}
 {{ variable }}

{% assign array= 'Hello,2,3,4,5' | split: ',' %}
<ul>
 {% for i in array %}
   {% if i.size >2 %}
   <li>{{ i }}</li> 
    {% endif %}
   {% endfor %}
</ul>

{% assign collection = collections['featured-collection'] %}
    {{collection}}
<br>

{% assign collection = collections['awesome-sneakers'] %}
    {{collection}}

<br>
{% for product in collection.products %}
  {{ product}}
{% endfor %}


